.about-company {
  @include flex-row;
  color: $dark-grey-color;
  position: relative;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
}

.about-company h2 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin-bottom: 20px;
  width: 85%;
}

.about-company p {
  margin: 0;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  width: 85%;

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.about-company__about-button {
  @include a-clear;
  background-color: $white-color;
  color: $light-blue-color;
  border: 1px solid $light-blue-color;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 1.5% 4.5% 1.5%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 69%;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $light-blue-color;
  }

  &:active {
    color: $white-color;
    background-color: $light-blue-color;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .about-company {
    margin-left: 0;
    z-index: 1;
  }

  .about-company h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 30px;
    width: 74%;
  }

  .about-company p {
    margin-bottom: 20px;
    width: 74%;
  }

  .about-company p:last-of-type {
    position: relative;
  }

  .about-company p:last-of-type::before {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 28%;
  }

  .about-company span {
    display: none;
  }

  .about-company__year-found {
    font-size: 178px;
    line-height: 251px;
    left: -82px;
    top: 95px;
  }

  .about-company__about-button {
    padding: 2% 7%;
    margin-right: 49%;
  }
}

@media (max-width: $max-mobile-width) {
  .about-company {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
  }

  .about-company::before {
    display: none;
  }

  .about-company h2 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 8%;
    width: 100%;
  }

  .about-company p {
    margin-bottom: 20px;
    width: 100%;

    &:last-of-type {
      margin-bottom: 7%;
    }
  }

  .about-company p:last-of-type::before {
    right: 3%;
  }

  .about-company__year-found {
    display: none;
  }

  .about-company__about-button {
    padding: 5% 17%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
