.advantages {
  @include flex-row;
  background-color: $white-color;
  color: $light-blue-color;
  max-width: 1920px;
}

.advantages__item {
  width: 41%;
  min-height: 180px;
  border: 1px solid $light-grey-color;
  border-left: 2px solid $light-blue-color;
  color: $light-blue-color;
  cursor: pointer;
  margin-bottom: 3%;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 4%;
  padding-bottom: 5%;
  position: relative;

  &:hover,
  &:focus {
    background-color: $light-blue-color;
    color: $white-color;
  }
}

.advantages__item p,
.advantages__item h3 {
  margin: 0;
}

.advantages__item:hover .advantages__item-desc {
  color: $white-color;
}

.advantages__item-title {
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-size: 24px;
  line-height: 34px;
}

.advantages__item .advantages__item-title {
  margin-bottom: 4%;
}

.advantages__item svg {
  position: relative;
  top: -20px;
}

.advantages__item-desc {
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 16px;
  line-height: 22px;
  color: $dark-grey-color;
}

@media (max-width: $tablet-width) {
  .advantages {
    width: 94%;
    padding: 7% 3%;
  }

  .advantages::after {
    transform: rotate(180deg) scale(2.5);
    bottom: 105px;
    right: -60px;
  }

  .advantages__item {
    width: 43%;
    padding-top: 9%;
    padding-right: 1%;
    min-height: 240px;
    margin-bottom: 4%;
  }

  .advantages__item svg {
    top: 25px;
  }

  .advantages::before {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .advantages {
    flex-direction: column;
    width: 100%;
    padding: 7% 0%;
  }

  .advantages::after {
    bottom: 190px;
  }

  .advantages__item {
    width: 88%;
    padding-top: 25%;
    padding-left: 7%;
  }

  .advantages__item-title {
    font-size: 20px;
    line-height: 28px;
  }

  .advantages__item-desc {
    font-size: 16px;
    line-height: 22px;
  }
}
