.company-request {
  @include flex-column;
  position: relative;
  font-family: ("PT Mono", "Arial", monospace);
  color: $white-color;
  background-color: $light-blue-color;
  align-items: flex-end;
}

.company-request form {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
}

.company-request label {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $white-color;
}

.company-request .company-request__question {
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-bottom: 0.8%;
  padding-right: 2%;
}

.company-request .company-request__free-consultation {
  margin-bottom: 4%;
  margin-right: 19.5%;
  padding-right: 2%;
}

.company-request__first-name {
  @include input-formatting;
  width: calc((100% - 16%) / 2);
  padding-top: 2%;
  padding-left: 6%;
  padding-bottom: 2%;
  margin-bottom: 30px;
}

.company-request__first-name::placeholder {
  color: $white-color;
}

.company-request__tel {
  @include input-formatting;
  width: calc((100% - 16%) / 2);
  padding-top: 2%;
  padding-left: 6%;
  padding-bottom: 2%;
  margin-bottom: 30px;
}

.company-request__tel::placeholder {
  color: $white-color;
}

.company-request__textarea {
  @include input-formatting;
  font-family: ("PT Mono", "Arial", monospace);
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 4%;
  width: 100%;
  margin-bottom: 55px;
}

.company-request__textarea::placeholder {
  color: $white-color;
}

.company-request__checkbox-wrapper {
  @include flex-row;
  position: relative;
  margin-right: 4%;
  justify-content: space-between;
  color: $white-color;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  width: 16px;
  height: 16px;
  align-self: flex-start;
  width: calc((100% - 16%) / 2);
  display: inline-block;
  vertical-align: middle;
}

.company-request__checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
}

.company-request__checkbox {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid $white-color;
  background: $light-blue-color;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .company-request__checkbox {
  background-image: url("../img/checkbox-yes.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  border: 1px solid $white-color;
}

.company-request__submit-button {
  width: calc((100% - 16%) / 2);
}

@media (max-width: $tablet-width) {
  .company-request {
    padding: 10% 11% 14%;
    align-items: flex-start;
  }

  .company-request form {
    width: 100%;
  }

  .company-request .company-request__question {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 3%;
  }

  .company-request .company-request__free-consultation {
    margin-bottom: 9%;
  }

  .company-request__first-name,
  .company-request__tel {
    padding-top: 4%;
  }

  .company-request__question {
    padding-top: 2%;
    padding-bottom: 7%;
    margin-bottom: 2%;
  }

  .company-request::before {
    display: none;
  }

  .company-request form::before {
    display: none;
  }

  .company-request form::after {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .company-request {
    padding: 3% 2% 23px;
  }

  .company-request .company-request__question {
    font-size: 28px;
    line-height: 39px;
  }

  .company-request .company-request__first-name,
  .company-request .company-request__tel {
    width: 100%;
    margin-bottom: 10%;
  }

  .company-request .company-request__tel {
    margin-bottom: 6%;
  }

  .company-request__first-name,
  .company-request__tel {
    padding-left: 5%;
  }

  .company-request__submit-button {
    width: 100%;
    padding: 5% 0;
    margin-bottom: 10%;
  }

  .company-request__question {
    height: 5em;
  }

  .company-request__checkbox-wrapper {
    width: 100%;
  }
}
