.company-request {
  @include flex-column;
  position: relative;
  font-family: ("PT Mono", "Arial", monospace);
  background: url("../img/paper-plane.png") no-repeat 25% 162px,
    url("../img/big-polygon-ellipse.svg") no-repeat 204px -55px,
    url("../img/small-polygon-ellipse.svg") no-repeat 168px 199px,
    $light-blue-color-with-opacity,
    url("../img/polygon.svg") no-repeat 113% 100px,
    url("../img/polygon-180deg.svg") no-repeat 106% 192px;
  background-size: 27%, 33%, 20%, 20%, 24%, 23%;
  color: $white-color;
  background-color: $light-blue-color;
  align-items: flex-end;
}

.company-request form {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 49%;
}

.company-request label {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $white-color;
  background: $light-blue-color;
}

.company-request input {
  width: 94%;
}

.company-request .company-request__first-name-label,
.company-request .company-request__tel-label {
  width: calc((100% - 6%) / 2);
  height: 52px;
  margin-bottom: 40px;
}

.company-request__textarea-label {
  width: 100%;
}

.company-request .company-request__question {
  margin: 0;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-bottom: 10px;
  width: 49%;
}

.company-request .company-request__free-consultation {
  margin: 0;
  margin-bottom: 55px;
  width: 49%;
}

.company-request__first-name {
  @include input-formatting;
  padding-top: 3%;
  padding-left: 6%;
  padding-bottom: 5%;
}

.company-request__first-name::placeholder {
  color: $white-color;
}

.company-request__tel {
  @include input-formatting;
  padding-top: 3%;
  padding-left: 6%;
  padding-bottom: 5%;
}

.company-request__tel::placeholder {
  color: $white-color;
}

.company-request .company-request__textarea-label {
  height: 155px;
  margin-bottom: 40px;
}

.company-request__textarea {
  @include input-formatting;
  font-family: ("PT Mono", "Arial", monospace);
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 5%;
  width: 97%;
}

.company-request__textarea::placeholder {
  color: $white-color;
}

.company-request__checkbox-wrapper {
  @include flex-row;
  position: relative;
  margin-right: 4%;
  justify-content: space-between;
  color: $white-color;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  align-self: flex-start;
  width: calc((100% - 6%) / 2);
  display: inline-block;
  vertical-align: middle;
}

.company-request__checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.company-request__checkbox {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid $white-color;
  background: $light-blue-color;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .company-request__checkbox {
  background-image: url("../img/checkbox-yes.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  border: 1px solid $white-color;
}

.company-request__checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  cursor: pointer;
}

.company-request__submit-button {
  width: calc((100% - 6%) / 2);
}

@media (min-width: $min-desktop-width) and (max-width: $med-desktop-width) {
  .company-request {
    background: url("../img/paper-plane.png") no-repeat 5% center,
      url("../img/big-polygon-ellipse.svg") no-repeat 18% 40%,
      url("../img/small-polygon-ellipse.svg") no-repeat 5% 55%,
      $light-blue-color-with-opacity,
      url("../img/polygon.svg") no-repeat 113% 100px,
      url("../img/polygon-180deg.svg") no-repeat 106% 192px;
    background-size: 45%, 33%, 20%, 20%, 24%, 23%;
    background-color: $light-blue-color;
  }
}

@media (max-width: $tablet-width) {
  .company-request {
    min-width: 598px;
    max-width: 1023px;
    padding: 80px 85px 105px;
    align-items: flex-start;
    background: $light-blue-color;
  }

  .company-request form {
    width: 100%;
  }

  .company-request input {
    box-sizing: border-box;
    width: 100%;
  }

  .company-request .company-request__question {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 20px;
    width: 100%;
  }

  .company-request .company-request__free-consultation {
    margin-bottom: 55px;
    width: 100%;
  }

  .company-request .company-request__textarea-label {
    margin-bottom: 53px;
  }

  .company-request__first-name,
  .company-request__tel {
    padding-top: 4%;
  }

  .company-request__textarea {
    box-sizing: border-box;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 6%;
  }

  .company-request::before {
    display: none;
  }

  .company-request form::before {
    display: none;
  }

  .company-request form::after {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .company-request {
    width: 100%;
    max-width: 767px;
    min-width: 280px;
    padding: 0;
  }

  .company-request form {
    flex-direction: column;
  }

  .company-request .company-request__question {
    font-size: 28px;
    line-height: 39px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .company-request .company-request__free-consultation {
    margin-right: 0;
    margin-bottom: 35px;
  }

  .company-request .company-request__first-name-label,
  .company-request .company-request__tel-label {
    width: 100%;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .company-request .company-request__textarea-label {
    height: 80px;
  }

  .company-request__textarea {
    height: 6em;
  }

  .company-request__submit-button {
    width: 100%;
    padding: 5% 0;
    margin-bottom: 25px;
  }

  .company-request__checkbox-wrapper {
    width: 100%;
  }
}
