.company-intro {
  @include flex-column;
  min-height: 300px;
}

.company-intro h2 {
  margin: 0;

  display: inline-block;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 25px;
  vertical-align: middle;
}

.company-intro__description {
  position: relative;
  margin: 0;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 22px;
  line-height: 34px;
  color: $white-color;
  width: 70%;
  margin-bottom: 5%;
  padding-left: 10%;
}

.company-intro__description::before {
  content: "";
  background-color: $white-color;
  position: absolute;
  width: 9%;
  height: 2px;
  left: 0;
  top: 20px;
}

.company-intro__board-image {
  position: absolute;
  top: 100px;
  left: 780px;
}

.company-intro__consult-button,
.company-intro__scroll-to-bottom {
  @include a-clear;
}

.company-intro__consult-button {
  background-color: $light-blue-color;
  color: $white-color;
  border: 1px solid $white-color;
  border-radius: 5px;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 2% 5% 2%;
  cursor: pointer;
  margin-left: 10%;
  display: inline-block;
  vertical-align: middle;
  align-self: flex-start;

  &:hover,
  &:focus {
    color: $light-blue-color;
    background-color: $white-color;
  }

  &:active {
    color: $light-blue-color;
    background-color: $white-color;
    opacity: 0.7;
  }
}

.company-intro__consult-button span:last-of-type {
  display: none;
}

.company-intro__scroll-to-bottom {
  color: $white-color;
  display: block;
  position: relative;
  align-self: flex-start;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 14px;
  line-height: 16px;
  transform: rotate(-90deg);
  opacity: 0.5;
  bottom: -130px;
  left: -30px;

  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .company-intro {
    width: 100%;
    padding-top: 0;
  }

  .company-intro h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
  }

  .company-intro__offer {
    width: 50%;
  }

  .company-intro__description {
    width: 60%;
    font-size: 18px;
    line-height: 28px;
    padding-left: 9%;
    margin-bottom: 9%;
  }

  .company-intro__description::before {
    width: 7%;
  }

  .company-intro__consult-button {
    padding: 2.5% 2% 3%;
    width: 60%;
    margin-left: 9%;
  }

  .company-intro__scroll-to-bottom {
    display: none;
  }

  .company-intro__board-image {
    top: -20%;
    left: 95%;
  }
}

@media (max-width: $max-mobile-width) {
  .company-intro {
    width: 100%;
    z-index: 1;
  }

  .company-intro h2 {
    font-size: 40px;
    line-height: 47px;
  }

  .company-intro__offer {
    margin-bottom: 30px;
  }

  .company-intro__description {
    width: 80%;
    padding-left: 15%;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 12%;
  }

  .company-intro__description::before {
    width: 12%
  }

  .company-intro__consult-button {
    width: 87%;
    margin: 0 2%;
    padding: 5% 4%;
  }

  .company-intro__consult-button span:first-of-type {
    display: none;
  }

  .company-intro__consult-button span:last-of-type {
    display: block;
  }

  .company-intro__board-image {
    top: -65%;
    left: 3%;
    z-index: -1;
  }
}
