.company-intro {
  width: 720px;
  position: relative;
}

.company-intro h2 {
  margin: 0;
  margin-bottom: 50px;
}

.company-intro__offer {
  display: inline-block;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 25px;
  vertical-align: middle;
}

.company-intro__description {
  display: inline-block;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 22px;
  line-height: 34px;
  color: $white-color;
  width: 620px;
  vertical-align: middle;
}

.company-intro__dash {
  display: inline-block;
  position: relative;
  width: 66px;
  height: 2px;
  background-color: $white-color;
  margin-right: 25px;
  bottom: 30px;
  vertical-align: sub;
}

.company-intro__board-image {
  position: absolute;
  top: -190px;
  left: 780px;
}

.company-intro__consult-button {
  background-color: $light-blue-color;
  color: $white-color;
  border: 1px solid $white-color;
  border-radius: 5px;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 18px 40px 15px;
  cursor: pointer;
  margin-left: 100px;

  &:hover,
  &:focus {
    color: $light-blue-color;
    background-color: $white-color;
  }

  &:active {
    color: $light-blue-color;
    background-color: $white-color;
    opacity: 0.7;
    outline: none;
  }
}

.company-intro__consult-button a,
.company-introl__scroll-to-bottom a {
  @include a-clear;
}

.company-intro__consult-button--mobile {
  display: none;
  //add transition later
}

.company-intro__consult-button--desk {
  //add transition later
}

.company-introl__scroll-to-bottom {
  color: $white-color;
  display: block;
  position: absolute;
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 14px;
  line-height: 16px;
  transform: rotate(-90deg);
  opacity: 0.5;
  bottom: -150px;
  left: -40px;
  //add transition later
  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .company-intro {
    width: 75%;
  }

  .company-intro h2 {
    margin-bottom: 60px;
  }

  .company-intro__offer {
    font-size: 60px;
    line-height: 70px;
    width: 50%;
  }

  .company-intro__description {
    width: 80%;
    font-size: 18px;
    line-height: 28px;
  }

  .company-intro__dash {
    width: 7%;
    vertical-align: bottom;
  }

  .company-intro__consult-button {
    padding: 3% 4% 3%;
    width: 85%;
    margin-left: 10%;
  }

  .company-introl__scroll-to-bottom {
    display: none;
  }

  .company-intro__board-image {
    top: -20%;
    left: 95%;
  }
}

@media (max-width: $max-mobile-width) {
  .company-intro {
    width: 100%;
    z-index: 1;
  }

  .company-intro h2 {
    margin-bottom: 40px;
  }

  .company-intro__offer {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }

  .company-intro__description {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
  }

  .company-intro__dash {
    width: 11%;
    margin-right: 1%;
    vertical-align: sub;
  }

  .company-intro__consult-button {
    width: 96%;
    margin: 0 2%;
    padding: 5% 4%;
  }

  .company-intro__consult-button--desk {
    display: none;
  }

  .company-intro__consult-button--mobile {
    display: block;
  }

  .company-intro__board-image {
    top: -65%;
    left: 3%;
    z-index: -1;
  }
}
