@media (max-width: $tablet-width) {
  .contacts {
    width: 13%;
    margin-right: 0;
  }

  .contacts__email::before {
    width: 27px;
    height: 21px;
    left: 0;
  }

  .contacts__phone::before {
    width: 25px;
    height: 25px;
    left: 0;
    top: -3px;
  }

  .contacts li {
    margin-right: 35%;
  }

  .contacts a {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .contacts span {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .contacts {
    width: 35%;
    justify-content: space-around;
  }

  .contacts li {
    margin-right: 0;
  }
}
