.copyright {
  @include flex-row;
  background-color: $footer-background-color;
  color: $dark-blue-color;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1% 11%;
  border-bottom: 0;
}

.copyright a {
  @include a-clear;
}

.copyright__item {
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
}

.copyright__item:nth-of-type(1) {
  margin-right: 5%;
}

.copyright__item:nth-of-type(2) {
  margin-right: 10%;
}

.copyright__item:nth-of-type(3) {
  margin-right: 28%;
}

@media (max-width: $tablet-width) {
  .copyright {
    width: 94%;
    padding: 2% 3%;
    justify-content: space-between;
  }

  .copyright__item:nth-of-type(1) {
    display: none;
  }

  .copyright__item:nth-of-type(2) {
    position: absolute;
    top: -360px;
    left: 42%;
    width: 40%;
    margin-right: 0;
  }
}
