.copyright {
  @include flex-row;
  background-color: $footer-background-color;
  color: $dark-blue-color;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 40px;
  border-bottom: 0;
  max-width: 1420px;
  min-width: 944px;
}

.copyright a {
  @include a-clear;

  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
  }
}

.copyright__item {
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.5;
  text-transform: uppercase;
  width: auto;
  margin: 0;
}

.copyright p:nth-of-type(1) {
  flex-grow: 0.5;
}

.copyright p:nth-of-type(2) {
  flex-grow: 1;
}

.copyright a:nth-of-type(1) {
  flex-grow: 2.5;
}

.copyright a:nth-of-type(2) {
  flex-grow: 0;
}

@media (max-width: $tablet-width) {
  .copyright {
    min-width: 728px;
    max-width: 1023px;
    padding: 20px;
    justify-content: space-between;
    position: unset;
  }

  .copyright p:nth-of-type(1) {
    display: none;
  }

  .copyright p:nth-of-type(2) {
    position: absolute;
    top: 35px;
    left: 42%;
    width: 40%;
    margin-right: 0;
  }

  .copyright a:nth-of-type(2) {
    flex-grow: 0;
  }
}

@media (max-width: $max-mobile-width) {
  .copyright {
    max-width: 767px;
    min-width: 280px;
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .copyright__item {
    margin-right: 0;
  }

  .copyright p:nth-of-type(2) {
    top: 125px;
    left: 50%;
    width: 235px;
    margin-left: -117px;
    flex-grow: 0;
  }

  .copyright a:nth-of-type(1) {
    margin-bottom: 20px;
    flex-grow: 0;
  }
}
