.main-footer {
  position: relative;
  background-color: $footer-background-color;
}

.main-footer__container {
  @include flex-row;
  max-width: 1920px;
  margin: 0 auto;
  padding: 3.5% 11% 2.8%;
  border-bottom: 1px solid $dark-grey-color;
}

.main-footer__logo-link {
  @include a-clear;
  color: $footer-logo-color;
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
  }
}

.main-footer__site-map-wrapper h3 {
  @include footer-h3;
}

.main-footer__wrapper {
  width: 20%;
  margin-right: 13%;
}

.main-footer__site-map-wrapper {
  width: 50%;
  margin-right: 5%;
}

.main-footer__toggle-button-map,
.main-footer__toggle-button-contacts {
  display: none;
}

@media (max-width: $tablet-width) {

  .main-footer {
    @include flex-column;
  }

  .main-footer__container {
    @include flex-row;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
  }

  .main-footer__wrapper {
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
    padding: 2% 3% 2.5%;
    border-bottom: 1px solid $dark-grey-color;
  }

  .main-footer__office-contacts,
  .main-footer__site-map-wrapper {
    padding: 5.5% 3% 4%;
    margin-right: 0;
  }

  .main-footer__site-map-wrapper {
    width: 44%;
  }

  .main-footer__logo-link {
    margin-bottom: 0;
  }

  .main-footer__site-map-wrapper h3 {
    margin-bottom: 8%;
  }
}

@media (max-width: $max-mobile-width) {
  .main-footer {
    flex-direction: column;
  }

  .main-footer__container {
    flex-direction: column;
  }

  .main-footer__wrapper {
    flex-direction: column;
    width: 94%;
    align-items: center;
  }

  .main-footer__site-map-wrapper,
  .main-footer__office-contacts {
    width: 94%;
  }

  .main-footer__toggle-button-map,
  .main-footer__toggle-button-contacts {
    @include toggle-button;
    display: block;
  }

  .main-footer__toggle-button-map::before {
    @include toggle-button-pseudo;
  }

  .main-footer__toggle-button-map::after {
    @include toggle-button-pseudo;
    transform: rotate(90deg);
  }

  .main-footer__toggle-button-contacts::before {
    @include toggle-button-pseudo;
  }

  .main-footer__toggle-button-contacts::after {
    @include toggle-button-pseudo;
    transform: rotate(90deg);
  }
}
