.main-header-wrapper {
  background-color: $dark-blue-color;
  background-image: url("../img/presentation-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
