.main-footer {
  background-color: $footer-background-color;
}

.main-footer__container {
  @include flex-column;
  max-width: 1410px;
  margin: 0 auto;
  padding: 65px 250px 15px;
}

.main-footer__top {
  @include flex-row;
  justify-content: space-between;
  width: 1410px;
  margin-bottom: 70px;
}

.main-footer__logo-link {
  color: rgb(32, 60, 66);
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: middle;
}
