.main-header-wrapper {
  @include flex-column;
  align-items: center;
  margin: 0 auto;
}

.main-header {
  @include flex-row;
  align-items: center;
  min-height: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 78%;
  max-width: 1440px;
  padding-left: 5%;
  padding-right: 5%;
}

.main-header__logo--mobile {
  display: none;
}

.main-header__logo-link {
  @include a-clear;
  color: $white-color;
  margin-right: 39%;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
  }
}

.main-header__callback-button {
  color: $white-color;
  border: 1px solid $white-color;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  line-height: 16px;
  cursor: pointer;
  padding: 0.9% 1.9%;

  &:hover,
  &:focus {
    color: $light-blue-color;
    background-color: $white-color;
  }

  &:active {
    color: $light-blue-color;
    background-color: $white-color;
    opacity: 0.7;
  }
}

.main-header__email,
.main-header__phone {
  @include a-clear;
  color: $white-color;
  position: relative;
  font-size: 16px;
  font-family: ("PT Mono", "Arial", monospace);
  line-height: 18px;
  margin-right: 1%;
  display: inline-block;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
  }
}

.main-header__email {
  width: 10%;
  padding-left: 3%;
}

.main-header__phone {
  width: 15%;
  padding-left: 3%;
}

.main-header__email::before {
  content: "";
  position: absolute;
  background-image: url("../img/envelope.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  left: 0;
  top: 0;
}

.main-header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/phone-call.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
}

.main-header__company-intro-wrapper {
  @include flex-row;
  margin: 0 auto;
  justify-content: flex-start;
  width: 80%;
  max-width: 1440px;
  padding: 190px 5% 250px;
  background: url("../img/boards.png") no-repeat 97%,
    url("../img/big-polygon-ellipse.svg") no-repeat 93% -10px,
    url("../img/small-polygon-ellipse.svg") no-repeat 70% 250px;
  background-size: 705px 515px, 636px 640px, 373px 377px;
}

@media (max-width: $tablet-width) {
  .main-header {
    width: 94%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .main-header__company-intro-wrapper {
    width: 78%;
    padding-top: 70px;
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 165px;
    background-size: 465px 340px, 501px 501px, 294px 294px;
    background-position: 170% 0, 170% -120px, 100% 85px;
  }

  .main-header__logo-link {
    margin-right: 58%;
  }

  .main-header__email::before {
    width: 27px;
    height: 21px;
    left: 0;
  }

  .main-header__phone::before {
    width: 25px;
    height: 25px;
    left: 0;
    top: -3px;
  }

  .main-header__phone,
  .main-header__email {
    display: block;
    cursor: pointer;
    align-self: center;
    padding: 0;
  }

  .main-header__phone {
    width: 25px;
    height: 25px;
  }

  .main-header__email {
    width: 27px;
    height: 21px;
  }

  .main-header__phone span,
  .main-header__email span {
    display: none;
  }

  .main-header__callback-button {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .main-header {
    max-width: $max-mobile-width;
  }

  .main-header__header {
    width: 94%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .main-header__company-intro-wrapper {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 180px;
    padding-bottom: 60px;
    background-size: 301px 220px, 479px 479px, 281px 281px;
    background-position: 106% 0, -110% -110px, 365% 80px;
  }

  .main-header__logo-link {
    margin-right: 49%;
  }

  .main-header__logo--mobile {
    display: block;
  }

  .main-header__logo--tablet-desktop {
    display: none;
  }
}
