.main-content {
  background-image: url("../img/big-polygon.svg");
  background-repeat: no-repeat;
  background-position: -50px 450px;
  background-size: 576px 874px;
}

.main-content__container {
  @include flex-column;
  max-width: 1920px;
  margin: 0 auto;
}

.main-content__advantages {
  background-color: $white-color;
}

.main-content__advantages-container {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.main-content__about-company {
  background-color: $white-color;
}

.main-content__about-company-container {
  @include flex-column;
  padding: 0;
  justify-content: flex-start;
  width: 62%;
  padding-left: 12%;
  padding-bottom: 1%;
  background-image: url("../img/year-found-background-small.png");
  background-size: 220px 317px;
  background-position: -15px 8px;
  background-repeat: no-repeat;
}

.main-content__company-services-container {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}


.main-content__company-request-wrapper {
  background-color: $light-blue-color;
}

@media (max-width: $tablet-width) {
  .main-content {
    width: 100%;
    background: url(../img/polygon-180deg.svg) no-repeat 260px 120px;
    background-size: 690px 690px;
  }

  .main-content__container {
    max-width: $tablet-width;
    padding-top: 25%;
    padding-left: 11%;
    padding-right: 11%;
    overflow: hidden;
  }

  .main-content__advantages-container {
    width: 100%;
    padding: 0;
  }

  .main-content__about-company-container {
    background-image: url("../img/year-found-background-big.png");
    background-size: 251px 361px;
    background-position: -30px 0;
    width: 100%;
    padding-right: 0;
    padding-left: 26%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-content__company-services-container {
    width: 96%;
    padding: 0;
  }

  .main-content__company-request-container {
    width: 96%;
    padding: 0;
  }

  .main-content__about-company {
    margin-top: -140px;
  }
}

@media (max-width: $max-mobile-width) {
  .main-content {
    width: 100%;
  }

  .main-content__container {
    max-width: $tablet-width;
    padding-top: 280px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .main-content__advantages-container {
    padding-top: 20px;
  }

  .main-content__about-company-container {
    background-size: 0;
  }


  .main-content__company-advantages .main-content__container {
    padding-top: 20px;
  }

  .main-content__about-company .main-content__container {
    padding-top: 20px;
  }

  .main-content__company-request-wrapper .main-content__container {
    padding-top: 20px;
  }
}
