.main-header__container {
  display: flex;
  max-width: 1410px;
  padding: 0 250px;
  margin: 0 auto;
}

.main-header__header-section {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  min-height: 50px;
  padding-top: 30px;
}

.main-header__logo-link {
  @include a-clear;
  margin-right: 550px;
}

.main-header__callback-button {
  color: $white-color;
  border: 1px solid $white-color;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  line-height: 16px;
  cursor: pointer;
  padding: 14px 30px;

  &:hover,
  &:focus {
    color: $light-blue-color;
  }

  &:active {
    color: $light-blue-color;
    opacity: 0.7;
    outline: none;
  }
}

@media (max-width: $tablet-width) {
  .main-header__container {
    width: auto;
    padding: 0 20px;
  }

  .main-header__header-section {
    padding-top: 20px;
    align-items: flex-start;
  }

  .main-header__logo-link {
    margin-right: 435px;
  }

  .main-header__callback-button {
    display: none;
  }
}
