.main-content {
  background-image: url("../img/big-polygon.svg");
  background-repeat: no-repeat;
  background-position: -50px 450px;
  background-size: 576px 874px;
}

.main-content__container {
  @include flex-column;
  max-width: 1170px;
  min-width: 944px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-content__advantages {
  background-color: $white-color;
}

.main-content__advantages-container {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.main-content__about-company {
  background-color: $white-color;
}

.main-content__about-company-container {
  @include flex-column;
  padding: 35px 40px 100px;
  align-items: flex-end;
  background-image: url("../img/year-found-background-small.png");
  background-size: 220px 317px;
  background-position: 9px 40px;
  background-repeat: no-repeat;
  width: 100%;
}

.main-content__company-services-container {
  @include flex-row;
  flex-wrap: wrap;
  padding: 95px 40px 120px;
  width: auto;
  justify-content: space-between;
}

.main-content__company-request-container {
  background: url("../img/paper-plane.png") no-repeat 102px 45%,
    url("../img/big-polygon-ellipse.svg") no-repeat -34px -55px,
    url("../img/small-polygon-ellipse.svg") no-repeat -20px 214px;
  background-color: $light-blue-color;
  background-size: calc(100% - 65%), 44%, 25%;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 90px 120px 115px;
  min-width: 784px;
}

@media (max-width: $tablet-width) {
  .main-content {
    width: 100%;
    background: url("../img/polygon-180deg.svg") no-repeat 260px 120px;
    background-size: 690px 690px;
  }

  .main-content__container {
    min-width: 728px;
    max-width: 1023px;
    padding: 0 20px;
    overflow: hidden;
  }

  .main-content__about-company-container {
    background-image: url("../img/year-found-background-big.png");
    background-size: 251px 361px;
    background-position: -10px 20px;
    padding: 20px 0 85px;
  }

  .main-content__company-services-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .main-content__company-request-container {
    width: 100%;
    min-width: 598px;
    padding: 0;
    background: 0;
    align-items: flex-start;
  }
}

@media (max-width: $max-mobile-width) {
  .main-content {
    width: 100%;
  }

  .main-content__container {
    max-width: $max-mobile-width;
    min-width: 280px;
    padding: 0 20px;
  }

  .main-content__advantages-container {
    padding-top: 40px;
    width: auto;
  }

  .main-content__company-services-container {
    padding-top: 20px;
    width: auto;
  }

  .main-content__about-company-container {
    background-size: 0;
  }

  .main-content__company-request-container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    flex-direction: column;
  }

  .main-content__about-company .main-content__container {
    padding-top: 20px;
    align-items: flex-start;
  }
}
