.services-list {
  @include list-clear;
  @include flex-row;
  color: $white-color;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-list__item {
  position: relative;
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 32%;
  height: 620px;
}

.services-list a {
  @include a-clear;
  display: block;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.8;
  }
}

.services-list__produce a::before {
  @include services-background;
  background-image: url("../img/boards-produce-background.png");
}

.services-list__assemble a::before {
  @include services-background;
  background-image: url("../img/boards-assemble-background.png");
}

.services-list__components a::before {
  @include services-background;
  background-image: url("../img/boards-components-background.png");
}

.services-list__produce a::after {
  @include light-blue-square;
}

.services-list__assemble a::after {
  @include light-blue-square;
}

.services-list__components a::after {
  @include light-blue-square;
}

.services-list__produce::after {
  @include white-arrow;
}

.services-list__assemble::after {
  @include white-arrow;
}

.services-list__components::after {
  @include white-arrow;
}

.services-list span {
  display: block;
  position: absolute;
  width: 45%;
  color: rgba(255, 255, 255, 1);
  top: 50px;
  left: 50px;
  word-wrap: break-word;
}

@media (max-width: $tablet-width) {
  .services-list {
    @include flex-column;
  }

  .services-list__item {
    width: 100%;
    height: 250px;
    margin-bottom: 7%;
  }

  .services-list a::before {
    height: 250px;
    background-position: center;
  }

  .services-list span {
    width: 25%;
  }

  .services-list__produce::after {
    right: 4%;
    bottom: 10%;
  }

  .services-list__assemble::after {
    right: 4%;
    bottom: 10%;
  }

  .services-list__components::after {
    right: 4%;
    bottom: 10%;
  }
}

@media (max-width: $max-mobile-width) {
  .services-list__item {
    height: 260px;
    margin-bottom: 9%;
  }

  .services-list span {
    width: 55%;
    top: 25px;
    left: 25px;
  }

  .services-list a::before {
    height: 260px;
  }

  .services-list__produce::after {
    right: 10%;
  }

  .services-list__assemble::after {
    right: 10%;
  }

  .services-list__components::after {
    right: 10%;
  }
}
