.site-map-list {
  @include list-clear;
  @include flex-row;
  background-color: $footer-background-color;
  color: $dark-blue-color;
  flex-wrap: wrap;
}

.site-map-list li {
  width: 45%;
  margin-right: 8%;
}

.site-map-list li:nth-of-type(2n) {
  margin-right: 0;
}

.site-map-list__item {
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  opacity: 0.5;
}

.site-map-list a {
  @include a-clear;
}

@media (max-width: $tablet-width) {
  .site-map-list {
    flex-direction: column;
  }

  .site-map-list li {
    width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .site-map-list__item:nth-of-type(1) {
    order: -1;
  }

  .site-map-list__item:nth-of-type(3) {
    order: -1;
  }

  .site-map-list__item:nth-of-type(5) {
    order: -1;
  }

  .site-map-list__item:nth-of-type(7) {
    order: -1;
  }
}
