.site-map-list {
  @include list-clear;
  background-color: $footer-background-color;
  color: $dark-blue-color;
  width: 560px;
}

.site-map-list h3 {
  @include footer-h3;
}

.site-map-list li {
  width: 250px;
  margin-right: 60px;
}

.site-map-list li:nth-of-type(2n) {
  margin-right: 0;
}

.site-map-list__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-map-list__item {
  font-family: ("PT Mono", "Arial", monospace);
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  opacity: 0.5;
}

.site-map-list a {
  @include a-clear;
}
