.socials-list {
  @include list-clear;
  @include flex-row;
  background-color: $footer-background-color;
  color: $dark-blue-color;
  flex-wrap: wrap;
  min-height: 40px;
  width: 70%;
}

.socials-list a {
  @include a-clear;
  display: inline-block;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.7;
  }
}

.socials-list__item {
  width: 27px;
  height: 27px;
  margin-right: 10%;

  &:last-of-type {
    margin-right: 0;
  }
}

.socials-list__facebook {
  width: 27px;
  height: 27px;
}

.socials-list__ok {
  width: 27px;
  height: 26px;
}

.socials-list__vk {
  width: 27px;
  height: 26px;
}

.socials-list__facebook::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/facebook.svg");
  width: 27px;
  height: 27px;
}

.socials-list__ok::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ok.svg");
  width: 27px;
  height: 26px;
}

.socials-list__vk::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/vk.svg");
  width: 27px;
  height: 26px;
}

@media (max-width: $tablet-width) {
  .socials-list {
    justify-content: flex-end;
    align-items: center;
    width: 23%;
  }
}

@media (max-width: $max-mobile-width) {
  .socials-list {
    width: 40%;
  }
}
