.socials-list {
  @include list-clear;
  @include flex-row;
  background-color: $footer-background-color;
  color: $dark-blue-color;
  flex-wrap: wrap;
  min-height: 40px;
  width: 50%;
}

.socials-list a {
  @include a-clear;
  display: inline-block;
  vertical-align: middle;
}

.socials-list__item {
  margin-right: 24%;
}

.socials-list__facebook::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/facebook.svg");
  width: 27px;
  height: 27px;
}

.socials-list__ok::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/ok.svg");
  width: 27px;
  height: 26px;
}

.socials-list__vk::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/vk.svg");
  width: 27px;
  height: 26px;
}

@media (max-width: $tablet-width) {
  .socials-list {
    justify-content: flex-end;
  }
}
