@mixin list-clear() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin a-clear() {
  text-decoration: none;
  color: inherit;
}

@mixin footer-h3() {
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  color: rgb(27, 45, 55);
  margin: 0;
  margin-bottom: 30px;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin pseudo-polygon {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/polygon.svg");
  width: 298px;
  height: 298px;
}
