@mixin list-clear() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin a-clear() {
  text-decoration: none;
  color: inherit;
}

@mixin footer-h3() {
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  color: rgb(27, 45, 55);
  margin: 0;
  margin-bottom: 30px;
}

@mixin footer-social-items() {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
