@mixin list-clear() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin a-clear() {
  text-decoration: none;
  color: inherit;
}

@mixin footer-h3() {
  font-family: ("Roboto Condensed", "Courier", sans-serif);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  line-height: 16px;
  color: rgb(27, 45, 55);
  margin: 0;
  margin-bottom: 4%;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin pseudo-polygon() {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/polygon.svg");
  width: 298px;
  height: 298px;
}

@mixin services-background() {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 620px;
}

@mixin light-blue-square() {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  background-color: $light-blue-color;
  right: 0;
  bottom: 0;
}

@mixin white-arrow() {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid $white-color;
  border-bottom: 0;
  border-right: 0;
  transform: rotate(135deg);
  right: 7%;
  bottom: 4%;
}

@mixin input-formatting() {
  background: rgba($white-color, 0.1);
  color: $white-color;
  font-size: 16px;
  line-height: 22px;
  resize: none;
  border: 2px solid transparent;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid $white-color;
  }

  &:active {
    border: 2px solid $white-color;
  }
}

@mixin toggle-button() {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-color: $footer-background-color;
  border: 0;
  cursor: pointer;
}

@mixin toggle-button-pseudo() {
  content: "";
  position: absolute;
  right: 0;
  width: 16px;
  height: 1px;
  background-color: $dark-grey-color;
}
